{% load static %}
<!doctype html>

<html lang="en">

    <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.5/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/base.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

    <title>{% block title %}Project Share{% endblock %}</title>
    {% block stylesheet %}
    {% endblock %}
    </head>

    <body id="page-top">
    {% block body %}

        <!-- Page wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

                <!-- Sidebar - Brand -->
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href={% url 'home' %}>
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-laugh-wink"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Share<sup>2</sup></div>
                </a>

                <!-- Divider -->
                <hr class="sidebar-divider my-0">

                <!-- Nav Item - Home -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'home' %}>
                    <i class="icon ion-md-home"></i>
                    <span>HOME</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Department -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'department' %}>
                    <i class="icon ion-md-briefcase"></i>
                    <span>DEPARTMENT</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Question Papers -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'questionppr' %}>
                    <i class="icon ion-md-copy"></i>
                    <span>QUESTION PAPERS</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Notes -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'notes' %}>
                    <i class="icon ion-md-document"></i>
                    <span>NOTES</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Upload -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'upload' %}>
                    <i class="icon ion-md-cloud"></i>
                    <span>UPLOAD</span></a>
                </li>

                <!-- Divider -->
                <hr class="sidebar-divider">

                <!-- Nav Item - Request -->
                <li class="nav-item active">
                    <a class="nav-link" href={% url 'request' %}>
                    <i class="icon ion-md-help"></i>
                    <span>REQUEST</span></a>
                </li>

            </ul>

            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <!-- Topbar -->
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">


                        <!-- Sidebar Toggle (Topbar) -->
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="icon ion-md-menu"></i>
                        </button>

                        <!-- Topbar Search -->
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                          <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-primary" type="button">
                                <i class="icon ion-md-search"></i>
                              </button>
                            </div>
                          </div>
                        </form>

                        <!-- Topbar Navbar -->
                        <ul class="navbar-nav ml-auto">

                          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                          <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon ion-md-search"></i>
                            </a>
                          </li>

                          <!-- Nav Item - Alerts -->
                          <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="icon ion-md-notifications"></i>
                              <!-- Counter - Alerts -->
                              <span class="badge badge-danger badge-counter"></span>
                            </a>
                          </li>
                          <div class="topbar-divider d-none d-sm-block"></div>

                          <!-- Nav Item - User Information -->
                          <li class="nav-item dropdown no-arrow">
                            <a class="nav-link" href={% url 'profile' %}></a>
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <img class="img-profile rounded-circle" src="https://static1.squarespace.com/static/5523dc78e4b0b65a7c7c756c/5524107fe4b0ad8e340f7c01/552412cfe4b0fda199f635ee/1428429264079/staff_rounded_profile_blank_male.png?format=1000w">
                              <span class="mr-2 d-none d-lg-inline text-gray-600 small">Profile</span>
                            </a>
                          </li>
                        </ul>
                    </nav>
                    <!-- End of Topbar -->


                    {% block content %}
                    <!-- django will connect other files here -->
                    {% endblock %}

                </div>

        </div>

    {% endblock %}
    </body>
