{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><b>Departments</b></h1>
                </div>

                <!-- Divider -->
                <hr class="heading-divider">

                <!-- Content Column -->
                <div class="col-xl-12">

                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Departments</h6>
                        </div>
                        <div class="card-body">

                            <a class="nav-link" href=''>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">CSE</div>
                            </a>

                            <!-- Divider -->
                            <hr class="card-divider"> 

                            <!-- python code to extend -->

                        </div>
                    </div>
                
                </div>

            </div>


{% endblock %}