{% extends 'base.html' %}

{% block content %}

{% load staticfiles %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><b>Question Paper</b></h1>
                </div>

                <!-- Divider -->
                <hr class="heading-divider">

                <!-- django code to search a paper-->

            </div>

{% endblock %}