            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800"><b>Upload Files</b></h1>
                </div>

                <!-- Divider -->
                <hr class="heading-divider">

                <!-- django form to upload files -->
                <h2>Upload</h2>
                  <form method="post" enctype="multipart/form-data">
                    <input type="file" name="document">
                    <button type="submit">Upload file</button>
                  </form>
                    <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
            </div>
